#container {
    display: grid;
    grid-template-columns: repeat(16, 40px);
    grid-template-rows: repeat(16, 40px);
    grid-gap: 5px;
}

.square {
    border: thin solid blue;
    height: 40px;
    width: 40px;
}